@{
    ViewBag.Title = "关于";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    浙江省兰溪市<br />
    迎宾大道3388号<br />
</address>

<address>
    <strong>QQ:</strong>   <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1773677992&site=qq&menu=yes"><img border="0" src="https://pub.idqqimg.com/qconn/wpa/button/button_111.gif" alt="点击这里给我发消息" title="点击这里给我发消息" /></a><br />
    <strong>Email:</strong> <a href="mailto:daizhouzheng54556@163.com">daizhouzheng54556@163.com</a>
</address>