@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>浙江诗词大会</h1>
    <p class="lead">让诗路文化走进百姓万家</p>
    <p><a href="@Url.Action("Index", "Poetries")" class="btn btn-primary btn-lg">查看诗词 &raquo;</a></p>
</div>